<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lht.libbase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.lht.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lht.animator.base.ObjectAnimatorActivity"></activity>

        <activity android:name="com.lht.animator.base.ViewAnimatorActivity"></activity>

        <activity android:name="com.lht.animator.base.XmlAnimatorActivity"></activity>

        <activity android:name="com.lht.animator.base.LayoutTransitionActivity"></activity>

        <activity android:name="com.lht.animator.base.LayoutAnimationActivity"></activity>

        <activity android:name="com.lht.animator.base.ViewAnimateActivity"></activity>

        <activity android:name="com.lht.animator.base.keyFrameActivity"></activity>

        <activity android:name="com.lht.animator.point.RotationCardActivity"></activity>

        <activity android:name="com.lht.libbasetest.activity.TestFragmentMainActivity"></activity>

        <activity android:name="com.lht.andview.viewpager.ViewPagerAcitivty"/>
    </application>

</manifest>